<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кинотеатр Люмьер</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">

        <div class="logo clearfix">
            <a href="#">
                <img src="./../../Content/Img/logo.png" alt="логотип" />
            </a>

            <h1>Кинотеатр Люмьер</h1>
        </div>

        @{
            Html.RenderAction("Carousel","Partial");
        };


        <nav class="navbar navbar-default" id="custom-bootstrap-menu">
            <div class="container">
                <lu class="nav navbar-nav">
                    <li><a href="">Главная</a></li>
                    <li><a href="">О кинотеатре</a></li>
                    <li><a href="">Акции</a></li>
                    <li><a href="">Кинобар</a></li>
                </lu>
            </div>
        </nav>


        @RenderBody();
        
        <footer>
            <div>
                <span class="desc">Звоните нам и <br /> бронируйте билеты</span>
                <span class="phone">12 85 00</span>
                <span class="mail">info@lumer.ru</span>
                <span class="other">Мы в социальных сетях:</span>
                <a href="#" class="odnoklassniki">Одноклассники</a>
                <a href="#" class="vkontakte">вКонтакте</a>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
